 


.jotheader{
    height:54px;
    display: flex;
    justify-content: center !important;
    text-align: center;
    align-items: center;
   width: 102% !important; 
    background: #5E50F9;
    color: rgb(255, 255, 255) !important;
    margin-left: -27px;
    margin-top: 60px;
}
/* .build{
    padding-left:0px;
} */

.button-jot{
    width: 150px;
    height: auto;
    background-color: black;
    padding: 12px 12px;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.jotheader > div{
    /* border: 1px solid black; */
    height: 80px;
    width: auto;
    padding: 35px 30px 40px 30px ;
    
}
.jotheader > div:hover{
    background: hsla(0,0%,100%,.25);
}
.jotheader > div > h3 {
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 10px;
    /* background-color: #ffa857; */
}
/* .jotheader>div:hover {
    background-color: black;
} */
.before_build{
    width: 500px !important;
    /* border: 1px solid black; */
}
.after_build{
    width: 300px !important;
    margin-right: 5px;
    text-align: right;
    padding: 0px 0px 0px 0px;
}
.formbutton{
    /* float: right !important;
    margin-left: 500px !important; */
    margin-top: -18px;
}
/* .custom-control-input{
    font-size: 30px;
    margin-top: -18px;
} */
.custom-switch{
    margin-top: 0px;
}
/* .form-check{ */
    /* margin-left: 70px; */
    /* font-size: 30px; */
    /* margin-bottom: 28px; */
/* } */
.jot_switch{
    margin-left: 70px;
    font-size: 30px; 
     margin-bottom: 25px; 
     padding: 0px 0px 0px 0px;
}

/* FORMPAGE CSS */

.formpage_nav{
    width: 105%;
    height: 70px;
    background: #5E50F9;
    margin-top: 50px !important;
    margin-left: -7px;
    /* float: right; */
    display: flex;
    justify-content: space-between;
}
.formpage_first_div{
   margin-left: 40px;
   display: flex;
}
.formpage_input{
    width: 18rem;
    margin-top: 20px;
    background-color: #ffe8cb;
    border: 1px solid #ffe8cb;
}
.icon-span{
    width: 15px;
    height: 20px;
    /* border: 1px solid black; */
    padding: 4px;
}
.icon-span:hover{
    background-color: #0ab2e6 !important;
    border-color: #0ab2e6 !important;
}
.send_icon{
    width: 20px;
    color: #fff;
}
.fill-form{
    /* margin-top: 20px; */
    margin: 20px 0px 20px 20px;
    /* border: 1px solid black; */
    /* background-color: #fff; */
    padding: 4px;
    color: #fff;
}
.fill-form:hover{
    background-color: #0ab2e6 !important;
    border-color: #0ab2e6 !important;
}

.formpage_item{
    margin-left: 00px;
    /* border: 1px solid black; */
    display: flex;
    margin-right: 15px;
}
.formpage_item> div {
    width: 100px;
    height: 70px;
    /* background-color: red; */
    /* border: 1px solid black; */
    /* border-left: 1px solid #fcba83;
    border-right: 1px solid #fcba83; */
    text-align: center;
    color: #fff;
}
.formpage_item>div:hover {
    background-color: #0ab2e6;
}
.after_build_form{
    margin: 20px 0px 0px 35px;
    width: 220px !important;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    padding-left: 37px;
}
.custom-control{
    margin: 20px 0px 0px 7px;
}
.form-check-input{
    font-size: 30px;
}
.formpage_icon_mob{
    font-size: 30px;
    color: #ffffff;
    margin-top: 15px;
    font-weight: 500;
}
.formpage_icon{
    font-size: 35px;
    color: #ffffff;
    margin-top: 10px;
}
.icon_name{
    color: #ffffff;
    font-size: 13px;
}
.formpage_item_first{
    border-left: 1px solid #fcba83;
}
.formpage_item_last{
    border-right: 1px solid #fcba83; 
}
.formpage_container{
    width: 100vw;
    /* background-color: #f3ffef; */
    height: auto;
    margin:auto !important;
    text-align: center;
   
}
.formpage_desktop{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    /* border: 1px solid black; */
    margin-top: 40px;
}
.desktop_heading{
    height: 125px;
    margin-top: 30px;
    border-bottom: 1px solid #d7d8e1;
}
.desktop_heading>h1{
    float: left;
    margin: 20px 0px 0px 30px;
}
.desktop_input{
    display: flex;
    justify-content: center;
    width: 52%;
    text-align: left;
    padding-left: 8px;
}
.mobile_input{
    display: flex;
    justify-content: center;
    width: 53%;
    text-align: left;
    padding-left: 8px;
}
.lastname_heading{
    visibility: hidden !important;
}

.desktop_input>div{
    padding: 0px 10px 0px 10px;
    
}
.input_field{
    width: 300px;
    border-radius: 10px;
    padding: 5px 10px;
}
.input_field_mob{
    width: 268px;
    border-radius: 10px;
    padding: 5px 10px;
}

.input_field-vertical{
    width: 275px;
    border-radius: 10px;
    padding: 5px 10px;
}

.form_data{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.content_data{
    padding: 1.5rem 0rem !important;
}
.formpage_desktop-tab{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-top: 50px;
    border-radius: 36px;
    height: auto;
    margin-bottom: 100px !important;
    /* padding: 60px; */
    padding: 60px 60px 10px 60px;
}

.formpage_desktop-tab1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-top: 50px;
    border-radius: 36px;
    height: 500px;
    margin-bottom: 100px !important;
    /* padding: 60px; */
    padding: 60px 60px 60px 60px
}
.formpage_desktop-tab1-horizontal{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-top: 50px;
    border-radius: 36px;
    height: 599px;
    margin-bottom: 100px !important;
    /* padding: 60px; */
    padding: 60px 90px 60px 60px
}
.incon-container{
    border-right: 1px solid black;
    /* width: 80px; */
    padding: 10px;
}
.incon-container-right{
    padding: 10px;
}
.tab-border{
    border: 1px solid #cccccc;
    background-color: #f3f3f3;
    height: 750px;
    /* font-size: 30px; */
}
div.tab-border-vertical{
    width: 100%;
    height: 480px;
    overflow-x: hidden;
    overflow-y: auto !important;    
    border: 1px solid #cccccc;
    background-color: #f3f3f3;
}
.vertical-align{
    width: 70%;
    margin: auto;
    background-color: #fff;
}
.formpage_icon-tabland{
    font-size: 35px;
    color: #4a9fff;
    /* margin-top: 10px; */
}
.formpage_icon-mobhori{
    font-size: 35px;
    color: #4a9fff;
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}
.vertical-tab-button{
    width: 10%;
    float: right;
}
.dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block; 
   margin-top: 20px;
  }
  .dot-vertical{
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    /* margin-top: 20px; */
    margin: 0px 0px 0px 65px;
    padding-top: 0px;
    position: absolute;
    top: 550px;
  }
.formpage_desktop-mob{
    width: 37%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-top: 50px;
    border-radius: 36px;
    height: auto;
    margin-bottom: 100px !important;
    /* padding: 60px; */
    padding: 60px 30px 10px 30px;
}
.footer{
    display: none;
}
/* Extra css */
.jumbotron {
    background-color: #fff;
    width: 100%;
    margin: 0px;
}
label{
    float: left;
}
.form-control{
    border-radius: 10px;
}
.mobile_heading{
    height: 125px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #d7d8e1; 
    background-color: #fff;
}
/* {
    border: 1px solid #cccccc;
    background-color: #f3f3f3;
    height: 750px;
    /* font-size: 30px; */
/* }  */
div.mobile-border {
    
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto !important;
    
    border: 1px solid #cccccc;
    background-color: #f3f3f3;
    
}
.formpage_desktop-mob-hor{
    width: 47.5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-top: 50px;
    border-radius: 36px;
    height: 322px;
    margin-bottom: 100px !important;
    /* padding: 60px; */
    padding: 20px 95px 60px 60px
}
div.mob-border-vertical{
    width: 100%;
    height: 270px;
    overflow-x: hidden;
    overflow-y: auto !important;    
    border: 1px solid #cccccc;
    background-color: #f3f3f3;
}
.dot-mobvertical{
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    /* margin-top: 20px; */
    margin: 0px 0px 0px 50px;
    padding-top: 0px;
    position: absolute;
    top: 403px;
  }
  .vertical-align-mob{
    width: 98%;
    margin: auto;
    background-color: #fff; 
  }




/* FORMPAGE CSS */

